/.idea/
!/bitrix
/bitrix/*
!/bitrix/admin
/bitrix/admin/*
!/bitrix/admin/reports
!/bitrix/wizards
/bitrix/wizards/*
!/bitrix/wizards/kodix
!/bitrix/templates
/bitrix/templates/*
!/bitrix/templates/kit
!/bitrix/php_interface
/bitrix/php_interface/*
!/bitrix/php_interface/include
/bitrix/php_interface/include/*
!/bitrix/php_interface/include/sale_payment
/bitrix/php_interface/include/sale_payment/*
!/bitrix/php_interface/include/sale_payment/kdx*
!/bitrix/php_interface/include/sale_payment/paypal*
/upload/
/ru/help/delivery-and-payment/*
/ru/help/return-and-exchanges/*
/ru/help/size_guide/*
/ru/catalog/action_description.php
/en/help/delivery-and-payment/*
/en/help/return-and-exchanges/*
/en/help/size_guide/*
/en/catalog/action_description.php
robots.txt
Thumbs.db
.DS_store
sitemap*
yandex*
google*
node_modules
dist
yarn.lock
package-lock.json
!Mail/dist

#rush
*.log
*.sh
#HTML_v2/resources/
bitrix/wizards/
.htsecure
en/.well-known/
*.txt
*.gif
*.ico
*.html
images/
*.jpg
*.png
*.xml
en/restore.php
*.sql
ru/.htaccess
en/.htaccess
local/modules/kodix.seometa/
*.obj